/*html,body{
    margin: 0px;
    font-family: 'Inter';
}
header{
    display: flex;
    background-color: #F55A5A;
    color: white;
    height: 55px;
    justify-content: center;
    align-items: center;
}
header img{
    width: 24px;
    margin-right: 7px;

}
header span{
    font-family: 'Inter';
    font-weight:500;
    font-size: 0.9rem;
}
.journal{
    display: flex;

}
.main-image-container{
    width: 125px;
    height: 168px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 19px;
}
.main-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;

}
marker {
    width: 7px;
    margin-right: 4px;

}
.span {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
    color: #2B283A;
}
.country{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10.24px;
    line-height: 100%;
    letter-spacing: 17%;
    background: #2B283A;
    width: 72;
    height: 10;
    opacity: 1;
    top: 316px;
    left: 195px;
}
.title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B283A;
    margin-top: 10px;
}
.country {
    font-size: 0.7rem;
    letter-spacing: 0.17em;
    margin-right: 5px;
    color: #2B283A;
}

.para {
    font-size: 0.8rem;
    line-height: 1.5;
    overflow: hidden;
}
.datee {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 10px;
    color: #2B283A;
    margin-top: 5px;
}
*/
html, body {
    margin: 0;
}

body {
    font-family: Inter;
}

.container {
    margin: 45px 40px;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

article.journal {
    display: flex;
    margin-bottom: 36px;
}

article.marker {
    width: 7px;
    margin-right: 4px;
}
.main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
}